body{
    background-image: url(../images/background.png);
    background-size: cover;
}

nav li{
    display:inline-flex;
    padding-top:10px;
    padding-bottom:10px;
    font-family: 'Courier New', Courier, monospace
}

#nav-logo{
    /* position: absolute; */
    height: 50px;
    width: 100px;

}

#nav-logo img{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 10px;
    left: 50px;
}